@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-Gradient {
  position: absolute;
  width: 540px;
  height: 551px;
  left: 750px;
  top: 147px;
  background: linear-gradient(
    156.78deg,
    #a100eb 3.93%,
    #df0060 35%,
    #5b03c7 61.18%,
    #21b5f4 84.99%
  );
  filter: blur(166.972px);
}

@layer utilities {
  .animate-spin {
    animation-duration: 10s;
  }
}

.card {
  @apply mb-5 block rounded-lg border border-gray-100 shadow-md
}
